<div style="position:fixed;top:0px;left:0;width:33vw;opacity: 0.75;text-align:left;padding:10px;">

  {{#link-to 'live'}}<button>back</button>{{/link-to}}

  single-view [{{camera}}]

</div>


<img class="camera100" src="{{cameraSource}}" />