<div style="position:fixed;top:0px;right:0;width: 33vw;opacity: 0.75;text-align:right;padding:10px;">

{{#link-to 'list'}}<button>list files</button>{{/link-to}}

{{#link-to 'live'}}<button>live stream</button>{{/link-to}}
</div>

{{outlet}}