<div style="position:fixed;top:0px;right:0;width: 33vw;opacity: 0.75;background-color:#fff;color: 000;">
motionUI

{{#link-to 'list'}}list files{{/link-to}}
-
{{#link-to 'live'}}live stream{{/link-to}}
</div>

{{outlet}}